@import '../common/styles/sass/mixins';
@import '../common/styles/sass/variables';

.contactsContainer{
    padding: 50px 0;
    .formBlock{
        border: 1px solid black;
        width: 100%;
        @include flexStyle(row,space-between,inherit);
        flex-wrap: nowrap;
        @media screen and (max-width: 790px){
            @include flexStyle(column,center,center);
            align-content: center;

        }
    }

}

