@import '../../common/styles/sass/mixins';
@import '../../common/styles/sass/variables';

.nav {
   @include flexStyle(row,space-between,center);
   padding-left: 30px;
   margin-bottom: 0;
   height: 50%;
   flex-wrap: nowrap;
   @media screen and (max-width: 400px){
      display: none;
   }
   .navLink{
      @include text($colorforMain,inherit,12px,500,inherit);
      padding: 13px 7px ;
      margin: 10px 15px;
      background-color: transparent;
      &:hover{
         color: $accentColor;
      }
      &:active{
         color: $accentColor;
      }
   }
}
