@import  './sass/variables.scss';
@import  './sass/mixins';

body{
    @include text($textColor,$baseFont, 12px,400, inherit);
    margin: 0;
    line-height: 1.5;
    text-align: left;
    background-color: $backgroundColor;
}
.container {
    border: 1px solid darkblue;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    @include flexStyle(column,center,center);
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
h6 {
    @include text($textColor, $baseFont, 18px, 700, inherit);
    line-height: 1.4;
    margin-bottom: 20px;
}
a{
    text-decoration: none;
}
input, optgroup, select, textarea,a {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-decoration: none;
};

