@import '../../common/styles/sass/mixins';

.skill{
    @include flexStyle(column, inherit, center);
    width: 250px;
    text-align: left;
    border: 2px solid #ebeff5;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 42px 30px;
    transition-duration: 0.4s;
    &:hover {
    border-color: #ffffff;
    box-shadow: 0 20px 40px rgba(35, 38, 125, 0.1);
}
    .icon{
        display: flex;
        color: #75dab4;
        margin: 0 auto 60px;
    }
    .description{
        box-sizing: border-box;
        padding: 0 5px 2px;
    }
}