@import '../../common/styles/sass/mixins';
@import '../../common/styles/sass/variables';

.contactDetales {
    box-sizing: border-box;
    width: 40%;
    min-width: 200px;
    max-width: 450px;
    border: 8px solid $accentColor;
    margin: -47px 0 30px;
    padding: 60px 30px;
    @include flexStyle(column,space-between,center);
    align-content: flex-start;
}