@import '../../../common/styles/sass/mixins';
@import '../../../common/styles/sass/variables';

.singleAdress{
    &:not(:last-child) {
        margin-bottom: 40px;
    }
    span{
        @include text($primaryColor,inherit,15px,300, inherit);
        line-height: 1.8;
    }
    h6{
        @include text(#0c0f16, $mainFont,14px,700,2px);
        line-height: 1.2;
        text-transform: uppercase;
        white-space: nowrap;
        margin-bottom: 15px;
        span {
         font-size: 25px;
         margin-right: 10px;
        }
    }
}
