@import '../common/styles/sass/mixins';

.skillsBlock {
    padding: 50px 0;
    .skills {
        border: 1px solid black;
        width: 100%;
        @include flexStyle(row, space-around, inherit);

        @media screen and (max-width: 950px){
                flex-direction: column;
                align-content: center;
        }
    }
}

