$textColor: #0c0f16;
$footerColor: #0F1017;
$backgroundColor: #fff;
$accentColor: #75dab4;
$primaryColor: #777777;
$colorforMain: #f8f9fa;

$mainFont : 'Barlow Condensed', sans-serif;
$baseFont : 'Poppins', sans-serif;
$headerFont: 'Montserrat', sans-serif;