.footer {
    min-height: 160px;
    background-color: rosybrown;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.socialContainer {
    border: 1px solid;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.icon{
    width: 60px;
    height: 60px;
    background: darkcyan url("https://b7.pngbarn.com/png/845/392/social-media-computer-icons-css-sprites-social-network-social-media-png-clip-art.png") no-repeat center scroll;
    background-size:cover;
    display: flex;
}

.copyright {
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 20px auto 10px;
}