@import '../common/styles/sass/mixins';
@import '../common/styles/sass/variables';

.projectsBlock {
    padding: 50px 0;
    border-color: $accentColor;
    .projects {
        width: 100%;
        @include flexStyle(row,space-between, flex-start);

        @media screen and (max-width: 1110px){
            justify-content: center;
        }
    }
}

